<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('about') }}">About Us</a>
    <a href="{{ url_for('contact') }}">Contact Us</a>
</div>

  
  <div class="card">
    <div class="card-body">
      <h1>Pincode Serviceability Checker</h1>
      <div class="options"> 
        <button id="merchantBtn">Login as Merchant</button>
        <button id="buyerBtn">Login as Buyer</button>
      </div>
    </div>
  </div>

  <div class="merchant-form" style="display: none;">
    <!-- Merchant form content -->
    <h1>Pincode Serviceability Checker</h1>
    <form id="merchantForm" action="http://127.0.0.1:5000/submit_merchant" method="POST">
      <h2>Enter Merchant Details</h2>
      <label for="merchantName">Merchant's Name:</label>
      <input type="text" id="merchantName">
      
      <label for="merchantid">Merchant's ID (E-mail):</label>
      <input type="text" id="merchantid">

      <label for="merchantpass">Merchant's Password:</label>
      <input type="password" id="merchantpass">

      <h2>Enter Pin Codes</h2>
      <label for="pincodeCount">Number of Pin Codes:</label>
      <input type="number" id="pincodeCount" min="1" max="10" value="1">
      <div id="pincodeInputs"></div>
      <button id="submitBtn">Submit</button>
    </form>
  </div>

  <div class="buyer-form" style="display: none;">
    <!-- Buyer form content -->
    <h1>Pincode Serviceability Checker</h1>
    <form id="buyerForm" action="http://127.0.0.1:5000/submit_buyer" method="POST">
      <h2>Enter Buyer Details</h2>
      <label for="buyerId">Buyer's ID (E-mail):</label>
      <input type="text" id="buyerId">
      
      <label for="buyerPass">Buyer's Password:</label>
      <input type="password" id="buyerPass">
  
      <label for="buyerPincode">Enter Pin Code:</label>
      <input type="text" id="buyerPincode" maxlength="6" placeholder="Enter Pin Code">
  
      <button id="buyerSubmitBtn">Submit</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

